# Files to ignore when adding and committing files to a repository
.DS_Store
Thumbs.db

*.py[cod]
*$py.class

# virtualenv
.v-env/
v-env/

# PyCharm
.idea

# Pycache
**/__pycache__

# Migrations
migrations/