<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Testing</title>
    <script src="https://kit.fontawesome.com/238a67abd4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <div class="flexing">
        <div class="user-favs">
            <div class="user-card">
                <img src="../static/images/logo.png" alt="A user's image">
                <div class="user-details">
                    <h1>Danica Patrick</h1>
                    <h2 class="grey">@dpatrick</h2>
                    <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, nostrum praesentium. Est, nostrum laboriosam laborum praesentium sit esse laudantium dolorum, similique non minus illum. Velit architecto aliquam dicta nam? Architecto!</p>
                    <div class="other-info">
                        <div>
                            <p class="grey">Email</p><p>dpatrick@example.com</p>
                        </div>
                        <div>
                            <p class="grey">Location</p><p>Wisconsin, USA</p>
                        </div>
                        <div>
                            <p class="grey">Joined</p><p>April 8, 2021</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="favourites">
                <h2>Cars Favourited</h2>
                <div class="car-grid">
                    <div class="fav-car">
                        <img src="../static/images/logo.png" alt="A car">
                        <div class="row">
                            <p>2020 Lamborghini</p>
                            <p class="price">
                                <i class="fas fa-tag"></i>$356,335
                            </p>
                        </div>
                        <p class="grey">Hurrican</p>
                        <a href="#">View more details</a>
                    </div>
                    <div class="fav-car">
                        <img src="../static/images/logo.png" alt="A car">
                        <div class="row">
                            <p>2020 Lamborghini</p>
                            <p class="price">
                                <i class="fas fa-tag"></i>$356,335
                            </p>
                        </div>
                        <p class="grey">Hurrican</p>
                        <a href="#">View more details</a>
                    </div>
                    <div class="fav-car">
                        <img src="../static/images/logo.png" alt="A car">
                        <div class="row">
                            <p>2020 Lamborghini</p>
                            <p class="price">
                                <i class="fas fa-tag"></i>$356,335
                            </p>
                        </div>
                        <p class="grey">Hurrican</p>
                        <a href="#">View more details</a>
                    </div>
                    <div class="fav-car">
                        <img src="../static/images/logo.png" alt="A car">
                        <div class="row">
                            <p>2020 Lamborghini</p>
                            <p class="price">
                                <i class="fas fa-tag"></i>$356,335
                            </p>
                        </div>
                        <p class="grey">Hurrican</p>
                        <a href="#">View more details</a>
                    </div>
                    <div class="fav-car">
                        <img src="../static/images/logo.png" alt="A car">
                        <div class="row">
                            <p>2020 Lamborghini</p>
                            <p class="price">
                                <i class="fas fa-tag"></i>$356,335
                            </p>
                        </div>
                        <p class="grey">Hurrican</p>
                        <a href="#">View more details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>