<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Testing</title>
    <script src="https://kit.fontawesome.com/238a67abd4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <div class="flexing">
        <div class="user-favs">
            <h1>Explore</h1>
            <div class="search-car">
                <form action="" id="search-form">
                    <fieldset>
                        <label for="make">Make</label>
                        <input type="text" name="make" id="make">
                    </fieldset>
                    <fieldset>
                        <label for="model">Model</label>
                        <input type="text" name="model" id="model">
                    </fieldset>
                    <button>Search</button>
                </form>
            </div>
            <div class="favourites">
                <h2>Cars Favourited</h2>
                <div class="car-grid">
                    <div class="fav-car">
                        <img src="../static/images/logo.png" alt="A car">
                        <div class="row">
                            <p>2020 Lamborghini</p>
                            <p class="price">
                                <i class="fas fa-tag"></i>$356,335
                            </p>
                        </div>
                        <p class="grey">Hurrican</p>
                        <a href="#">View more details</a>
                    </div>
                    <div class="fav-car">
                        <img src="../static/images/logo.png" alt="A car">
                        <div class="row">
                            <p>2020 Lamborghini</p>
                            <p class="price">
                                <i class="fas fa-tag"></i>$356,335
                            </p>
                        </div>
                        <p class="grey">Hurrican</p>
                        <a href="#">View more details</a>
                    </div>
                    <div class="fav-car">
                        <img src="../static/images/logo.png" alt="A car">
                        <div class="row">
                            <p>2020 Lamborghini</p>
                            <p class="price">
                                <i class="fas fa-tag"></i>$356,335
                            </p>
                        </div>
                        <p class="grey">Hurrican</p>
                        <a href="#">View more details</a>
                    </div>
                    <div class="fav-car">
                        <img src="../static/images/logo.png" alt="A car">
                        <div class="row">
                            <p>2020 Lamborghini</p>
                            <p class="price">
                                <i class="fas fa-tag"></i>$356,335
                            </p>
                        </div>
                        <p class="grey">Hurrican</p>
                        <a href="#">View more details</a>
                    </div>
                    <div class="fav-car">
                        <img src="../static/images/logo.png" alt="A car">
                        <div class="row">
                            <p>2020 Lamborghini</p>
                            <p class="price">
                                <i class="fas fa-tag"></i>$356,335
                            </p>
                        </div>
                        <p class="grey">Hurrican</p>
                        <a href="#">View more details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>